#canvasContainer {
  background-image: url('/images/basic_wheel_background.png');
  background-repeat: no-repeat;   /* Ensure that background does not repeat */
  background-position: center;    /* Ensure image is centred */
  width: 880px;                   /* Width and height should at least be the same as the canvas */
  height: 440px;
}
